<div id="col1" class="span-14">
  <%= flash_messages %>
	<div class="page">
    <div class="balloon">
      <h1>search conversations for:</h1>
      <h2><%= params[:q] %></h2>
    </div>

    <div class="item">
      <ul class="list">
        <% for conversation in @conversations %>
          <li>
            <%= link_to highlight(h(conversation.name), params[:q].split), conversation_path(conversation) %>
            <br/>
            <%= highlight(conversation.escaped_description, params[:q].split) %>
            <br/>
            <span class="quiet small"><%= conversation.date_time12 %></span>
          </li>
        <% end %>
      </ul>

      <div class="pagination"><%= will_paginate @conversations %></div>
    </div>

  </div>
</div>

<div id="sidebars" class="span-10 last">
  <div id="sidebars_container">
    <% unless logged_in? %>
      <div id="main_headline">
        <h1><%= t("home.index.headline1") %></h1>
      </div>
      
      <div id="signup_headline">
        <h2><%= link_to t("ui.signup"), new_user_path, :class => "button" -%> <%= t("home.index.p2") %></h2>
      </div>
    <% end %>
    
    <div id="col2" class="span-6">
      <%= render :partial => 'users/recently_visited' %>
      <%= render :partial => 'users/news' %>
    </div>
    
  </div>
</div>