  <%= flash_messages %>
	<div class="box round">
	  
    <div class="bbox round">
      <h1><%= t("ui.search_convos_for", :string => params[:convo_q]) %></h1>
      <div>
        <% form_tag convosearch_path, :method => :get do %>
          <%= text_field_tag :convo_q %>
          <%= submit_tag t("ui.search"), :name => nil  %>
        <% end %>
      </div>
    </div>
    <div class="bbox-pointer">&nbsp;</div>
    

    <div class="item">
      <ul class="list">
        <% for conversation in @conversations %>
          <li>
            <%= link_to highlight(h(conversation.name), params[:convo_q].split), conversation_path(conversation) %>
            <br/>
            <span class="quiet small"><%= conversation.date_time12 %></span>
          </li>
        <% end %>
      </ul>
      <div class="pagination"><%= will_paginate @conversations %></div>
    </div>

  </div>