<div id="convo_controls" class="item2 span-10">
	
  <div id="convos_links" class="padding5">
	  <h4>
	    <% if @conversation.private? %><%= image_tag("/images/icons/icono_candado.gif") %> <% end %>
	  	<% if @conversation.read_only %><span class="highlight"><%= t("ui.read_only") %></span> <% end %><%= link_to h(@conversation.name), conversation_path(@conversation), :class => 'tip', :title => @conversation.escaped_description %>
	  </h4>
	  
	  <%= render :partial => 'conversations/star', :locals => { :conversation => @conversation } %>
    
	  <%if @conversation.parent_message_id%>
	    <%= link_to t("ui.back_to_parent"), conversation_path(@conversation.parent_message.conversation)%> &#187;
	  <%end%>
	  
	  <%= render :partial => 'conversations/follow', :object => @conversation %>
	  
	  <% if current_user == @conversation.owner %>
	    &#187;
	    <% if @conversation.read_only %>
	      <%= link_to t("ui.make_writable"), readwrite_status_conversation_path(@conversation, :mode => 'rw'), :method => 'put' %>
	    <% else %>
	      <%= link_to t("ui.make_read_only"), readwrite_status_conversation_path(@conversation), :method => 'put' %>
	    <% end %>
      &#187;
	    <% if @conversation.private? %>
	      <%= link_to t("ui.make_public"), private_status_conversation_path(@conversation, :mode => 'public'), :method => 'put' %>
	    <% else %>
	      <%= link_to t("ui.make_private"), private_status_conversation_path(@conversation), :method => 'put' %>
	    <% end %>
	  <% end %>
	  
	  <% if logged_in? %>
	    <% unless ( @conversation.private? && current_user != @conversation.owner ) %>
	      &#187;
	      <%= link_to( t("ui.invite"), invite_conversation_path(@conversation) ) %>
	    <% end %>
	  <%end%>	
	</div>
	
	
	<div id="convos_user" class="padding5">
	  <em><%= t("ui.started_by") %></em>
		<%= link_to h(@conversation.user.login), conversation_path(@conversation.user.personal_conversation)	, 
		  :class => 'tip', 
		  :title => "personal convo for " + @conversation.user.name %>
	  <%= link_to image_tag(@conversation.user.gravatar_url, :border => 0, :width => 20, :height => 20,
	    :class => "avatar", :alt => @conversation.user.login, :style => 'margin-left:4px;margin-bottom:-7px;'),
	 	  user_path(@conversation.user),
		  :class => 'tip', 
		  :title => user_popup(@conversation.user)
		%>
	</div>	
</div>
