<div class="message" id="<%=dom_id(message)%>">
	<p class="messagetools">
		<% if message.attachment.original_filename %>
			<%= link_to message.attachment.original_filename, message.attachment.url %>
		<% end %>
	</p>
	<p class="messagemeta">
		<%= link_to image_tag(message.user.gravatar_url, :border => 0, :wigth => 40, :height => 40, :class => "avatar"), conversation_messages_path(message.user.personal_conversation) %>		
		<span class="username"><%=link_to h(message.user.login), user_path(message.user) %></span>
		<br/>
		<span class="date"><%=message.created_at.to_s(:pretty_long) %></span>
	</p>
	<p class="messagetext">
		<%#=message.id%>
		<%= mark_up message.message %>
	</p>
</div>
