	<div class="message" id="<%= dom_id(message) %>">
	  	
	  <div class="avatar"><%= link_to image_tag(message.user.gravatar_url, :width => 30, :height => 30, :class => "avatar", :alt => message.user.login), user_path(message.user),
		:class => 'tip', 
		:title =>  user_popup(message.user) %>
		</div>
		<div class="messagetext">
		  
			<%= mark_up message %>
			
			<div class="meta">
	      <span class="date quiet small">
			  	<%= link_to message.time_pretty, conversation_message_path(message.conversation, message), :title => message.date_pretty_long %> -
			  </span>
			  <span class="username"><%=link_to h(message.user.login), user_path(message.user) %></span>
			  <div class="messagelinks quiet small">
  			<% if logged_in? %>
  				<%= link_to_remote t("ui.report"), :url => report_conversation_message_path(message.conversation, message), :confirm => t("ui.reportconfirm") %>
  	      <%= link_to t("ui.spawn"), spawn_new_conversation_path(:message_id => message.id), :confirm => t("ui.spawnconfirm"), :method => :get %> <% #has to be the get in order for auth token to work %>
  			<% end %>
  		  </div>
      </div>
		</div>
		<div class="clear"></div>
	</div>

<% if message.id == @last_message_id %>
	<div class="last-read"><%= t("messages.new_messages") %></div>
<% end %>
