<div class="message" id="message<%= message.id %>">
	<p class="messagetools">
		<%= link_to_function "Quote", "MessageManipulation.quote("+message.id.to_s+")" %>
		<% if message.attachment.original_filename %>
			<%= link_to message.attachment.original_filename, message.attachment.url %>
		<% end %>
	</p>
	<p class="messagemeta">
		<img src="<%= message.user.gravatar_url %>" class="avatar" />
		<span class="username"><%=h message.user.login %></span>
		<br/>
		<span class="date"><%=h format_date_for_message_meta(message.created_at) %></span>
	</p>
	<p class="messagetext">
		<%= mark_up message.message %>
	</p>
</div>
