<div class="message" id="<%=dom_id(message)%>">
  	<div class="messagelinks quiet small">
		<% if logged_in? %>
			<%= link_to_remote t("ui.report"), :url => report_conversation_message_path(@conversation, message), :confirm => t("ui.reportconfirm") %>
			<%= link_to t("ui.spawn"), 
			{:controller => 'messages', :action => 'spawn_conversation', :id => message.id, :conversation_id => @conversation.id}, 
			:confirm => t("ui.spawnconfirm"), :method => :get %> <%#has to be the get in order for auth token to work%>
		<%end%>
	</div>
  <div class="avatar"><%= link_to image_tag(message.user.gravatar_url, :border => 0, :width => 40, :height => 40, :class => "avatar", :alt => message.user.login), user_path(message.user)   %></div>
	<div class="messagetext">
		<span class="username"><%=link_to h(message.user.login), conversation_messages_path(message.user.personal_conversation)  %></span>
		<% if message.attachment.original_filename %>
		  <%= link_to(image_tag(message.attachment.url(:big)), message.attachment.url, :target => "_blank")%>		 
		<%else%>
		  <%= mark_up message.message %>
		<% end %>
		<span class="date quiet small"><%= link_to message.created_at.to_s(:pretty_long), conversation_message_path(@conversation, message) %></span>
	</div>
	<div class="clear"></div>
</div>
