<h2>conversation : <%= h @conversation.name %></h2>

<%= link_to 'back', conversations_path %>

<%= link_to_remote "more messages", :url => {:action => 'get_more_messages', :conversation_id => @conversation},
	:update => 'messages', :position => 'top',
	:complete => "MessageManipulation.handle_old_messages()",
	:with => "'before=' + MessageManipulation.first_message_number" %>

<div style='clear: both' id='polling'>
	<%= render :partial => 'polling' %>
</div>

<div id='messages'>
  <%= render :partial => 'message', :collection => @messages%>
</div>

