<h1>conversation</h1>
<p>
<%=h @conversation.name%>
</p>

<h1>messages</h1>

<%= will_paginate @messages %>

<%= render :partial => 'message', :collection => @messages%>

<% form_for(:message, :url => conversation_messages_path(@conversation), :html => {:onsubmit => "if ($('message_message').value.strip().length < 1) {alert('Please enter some text first!');$('message_message').focus();return false;};return true"}) do |f| %>
	<p>			
	<%= f.text_area :message, :rows => 5, :cols => 80 %>
	<%= f.hidden_field :parent_id, :value => @messages.last.id unless @messages.blank? %>
	</p>	
	<%=submit_tag "Post"%>
<% end %>
<%= link_to 'back', conversations_path%></p>

<br />

