<h1>messages</h1>

<%= render :partial => 'message', :collection => @messages%>


<% form_for(:message, :url => conversation_messages_path(@conversation)) do |f| %>
	<p>			
	<%= f.text_area :message, :rows => 5, :cols => 80 %>
	<%= f.hidden_field :parent_id, :value => @messages.last.id unless @messages.blank? %>
	</p>	
	<%=submit_tag "Post"%>
<% end %>
<%= link_to 'back', conversations_path%></p>

<br />

