<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Group Chat Social Network -- Messages: <%= @conversation.name %></title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
 	
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print"> 
  <!--[if IE]>
    <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, projection">
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag 'custom' %>
	<%= stylesheet_link_tag 'unitip' %>
	<%= javascript_include_tag 'unitip' %>

  <style type="text/css">
    #center {background:#fff;padding-bottom:20px;}
    .balloon a:link, .balloon a:visited {color:#000;}
  </style>
</head>

<body>

	<div id="header_container"><%= render(:partial => "shared/header") %></div>

  
  
	<div id="main_content" class="container" >
	  
	  <div class="span-5">&nbsp;</div>
		
		<div id="center" class="span-14 page">
		  
      <div class="balloon">
        <h2 class="center"><%= link_to h(@conversation.name), conversation_path(@conversation) %></h2>
      </div>

	    <%= render :partial => 'more_messages_on_top' %>
	    <div id='messages'>
	    	<div id="first_message"></div>
	    	<%= render :partial => 'message', :object => @message %>
	    	<div id="last_message"></div>
	    </div>
	    <%= render :partial => 'more_messages_on_bottom' %>

      
	</div>

  
	<%#do not remove rhis scrip tag, used by google stats%>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-3129031-8");
	pageTracker._trackPageview();
	</script>
</body>
</html>