<div id="col1" class="span-14">
	<div class="page">
  <div class="balloon">
    <h1><%= t("ui.login") %></h1>
  </div>
  <div class="arrow">&nbsp;</div>
  
  <div class="item">
  
    <% form_tag session_path do -%>
    <p><%= label_tag t("ui.login") %><br />
    <%= text_field_tag :login, @login %></p>
  
    <p><%= label_tag t('ui.password') %><br/>
    <%= password_field_tag :password, nil %></p>
  
    <!-- Uncomment this if you want this functionality
    <p><%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag :remember_me, '1', @remember_me %></p>
    -->
  
    <p>
    <%= submit_tag t("ui.login") %>&nbsp;<%= link_to t("ui.signup"), :controller => "users", :action => "new" -%>
    &nbsp;
    <span class="mute"><%= t("ui.its_free") %></span>
    </p>
    <p><%= link_to t('ui.forgot_password'), forgot_password_path -%></p>
  
    <% end -%>
  </div>
  </div>
</div>

<div id="sidebars" class="span-10 last">
  <div id="sidebars_container">
    <% unless logged_in? %>
      <div id="main_headline">
        <h1><%= t("home.index.headline1") %></h1>
      </div>
      
      <div id="signup_headline">
        <h2><%= link_to t("ui.signup"), new_user_path, :class => "button" -%> <%= t("home.index.p2") %></h2>
      </div>
    <% end %>
    
    <div id="col2" class="span-6">
      <%= render :partial => 'users/recently_visited' %>
      <%= render :partial => 'users/news' %>
    </div>
    
  </div>
</div>


