<li class="conversation">
	<h3><%= render :partial => 'conversations/star', :locals => { :conversation => conversation } %> <% if conversation.private? %><%= image_tag("/images/icons/icono_candado.gif") %> <% end %><%= link_to h(conversation.name), conversation_path(conversation) %></h3>

	<div class="description"><%= conversation.escaped_description %></div>
	
<!--
  # removed tag stuff
  #------------------------------------------------------------------------------
	<% conversation.tags.each do |tag| %>
		<span class="tag"><%= link_to tag, conversations_path(:tag => tag.to_s) %></span>
	<% end %>
-->

	<div class="clear"></div>
	
	<span class="quiet small">
	  <%= conversation.date_time12 %> -
	  <%= pluralize conversation.messages.size, 'message' %> -
	  <%= pluralize conversation.subscriptions.size, 'follower' %> -
	  <%= render :partial => 'conversations/follow_from_list', :object => conversation %>
	</span>
</li>
