<%if @conversation.parent_message_id%>
	<span class="highlight">
		<%= link_to "back to parent", conversation_messages_path(@conversation.parent_message.conversation)%>
	</span> <br/>
<%end%>
<% if @conversation.read_only %><span class="highlight">this is a readonly conversation</span> <br/><% end %>
<span class="strong">
  <%= link_to h(@conversation.name), conversation_messages_path(@conversation), :class => 'tip', :title => @conversation.escaped_description %>
</span>
<%= render :partial => 'conversations/follow' %>
<% if current_user == @conversation.owner %>
  &#187;
  <% if @conversation.read_only %>
    <%= link_to "make writable", makewriteable_conversation_path(@conversation), :method => 'put' %>
  <% else %>
    <%= link_to "make readonly", makereadonly_conversation_path(@conversation), :method => 'put' %>
  <% end %>
<% end %>
<%if logged_in? %>
	&#187;
	<%= link_to_remote t("ui.report"), :url => report_conversation_path(@conversation), :confirm => t("ui.reportconfirm_conversation") %>
<%end%>
