<li class="conversation">
  <span class="convo-name">
    <%= render :partial => 'conversations/star', :locals => { :conversation => conversation } %>
    <% if conversation.private? %><%= image_tag("/images/icons/icono_candado.gif") %><% end %>
    <%= link_to h(conversation.name), conversation_path(conversation) %>
  </span>

	<div class="clear"></div>
	
	<span class="quiet small">
	  <%= conversation.date_time12 %> -
	  <%= pluralize conversation.messages.size, 'message' %> -
	  <%= pluralize conversation.subscriptions.size, 'follower' %> -
    <%= render :partial => 'conversations/follow_from_list', :locals => { :conversation => conversation } %>
	</span>
</li>
