<li class="personal conversation">
	<span class="avatar">
	  <%= link_to image_tag(personal_conversation.user.gravatar_url, :border => 0, :width => 40, :height => 40, :class => "avatar", :alt => personal_conversation.user.login), user_path(personal_conversation.user),
	  :class => 'tip', 
	  :title =>  t("users.since") + personal_conversation.user.date  + 
	'<br/>' + personal_conversation.user.conversations.size.to_s  + '&nbsp;' + t('ui.convos') +
	'<br/>' + personal_conversation.user.messages.size.to_s       + '&nbsp;' + t('ui.messages') +
	'<br/>' + personal_conversation.user.subscriptions.size.to_s  + '&nbsp;' + t("ui.following") +
	'<br/>' + personal_conversation.users.size.to_s               + '&nbsp;' + t("ui.followers")
	 %>		
	</span>
	<h5><%= link_to h(personal_conversation.name), conversation_path(personal_conversation) %></h5>
	<div class="description"><%= personal_conversation.escaped_description %></div>
	<span class="quiet small info">
	  <%= personal_conversation.date_time12 %> -
	  <%= pluralize personal_conversation.messages.size, 'message' %> -
	  <%= pluralize personal_conversation.subscriptions.size, 'follower' %> -
	  <%= render :partial => 'conversations/follow_from_list', :object => personal_conversation %>
	</span>
</li>
