<% content_for :header do %>
	<%= tag(:link, :rel => "alternate",
	:type => "application/atom+xml",
	:href => conversations_url(:format => :atom)) %>
<% end %>

<div class="balloon">
  <h1><%= image_tag("/images/icons/star.png") %> <%= t("conversations.bookmarked_conversations") %></h1>
  <div>
    <% form_tag convosearch_path, :method => :get do %>
      <%= t("conversations.look_for_conversations") %>: <%= text_field_tag :q %>
      <%= submit_tag t("ui.search"), :name => nil  %>
    <% end %>
  </div>
</div>

<div class="item">
  <div class="notice">To bookmark a conversation just go to the <%= link_to "conversations list", conversations_path %> and click on the star icon near the name of the convo you want to bookmark</div>
  <div>
	  <% if params[:tag] %>
	  	<h6><%= t("ui.tagged_with") %>:<br/><span class="tag"><%= params[:tag] %></span></h6>
	  <%end%>
  </div>
  <%= will_paginate @conversations %>
  <ul class="list">
	  <%= render @conversations %>
  </ul>
  <%= will_paginate @conversations %>
</div>