<h1>conversations</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for conversation in @conversations %>
  <tr>
    <td><%=h conversation.name %></td>
    <td><%= link_to 'Show', conversation %></td>
    <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
    <td><%= link_to 'Destroy', conversation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New conversation', new_conversation_path %>
