<div class="balloon">
  <div class="avatar">
    <%= link_to image_tag(@user.gravatar_url, :border => 0, :width => 40, :height => 40, :class => "avatar", :alt => @user.login), user_path(@user) %>		
  </div>
  <span class="username">
	<%=link_to h(@user.login), conversation_messages_path(@user.personal_conversation) %>
	&#187;
	<%= render :partial => 'conversations/follow_from_list', :object => @user.personal_conversation %>

	<%= link_to image_tag("/images/icons/16px-feed-icon.png"), formatted_user_url(params[:id], :format => :atom), :type => 		"application/atom+xml", :rel => "alternate" %> 
  </span>
	
  <span class="userinfo">
    <%= t("users.since") + " " + @user.created_at.to_s(:pretty)%> |
    <%= pluralize @user.conversations.size, 'convo' %> |
    <%= pluralize @user.messages.size, 'message' %> |
    <%= pluralize @user.subscriptions.size, 'subscription' %>
  </span>
  <div class="clear"></div>
</div>
<div class="arrow">&nbsp;</div>
