<%= render :partial => 'convo_stats' %>

<%= render "user_links" %>

<h6><%= @user.login %> is following these users</h6>
<div class="item">
	<ul id="users_list">
		<%= render :partial => 'user', :collection => @followed_users %>
	</ul>
  <%= link_to t("ui.back"), users_path %>
</div>