<%= render :partial => 'convo_stats' %>

<%= render "user_links" %>

<h6>Convos followed by <%= @user.login %></h6>
<div class="item">
	<div id="convos">
	  <%= will_paginate @conversations %>
		<ul class="list">
			<%= render :partial => 'conversations/conversation',
			          :collection => @conversations %>
		</ul>
		<%= will_paginate @conversations %>
	</div>
  <%= link_to t("ui.back"), users_path %>
</div>