<%= render :partial => 'convo_stats' %>

<%= render "user_links" %>

<h6>Users following <%= @user.login %></h6>
<div class="item">
	<div id="convos">
		<ul class="list">
			<%= render :partial => 'conversations/conversation',
			          :collection => @user.followers_convos %>
		</ul>
	</div>
  <%= link_to t("ui.back"), users_path %>
</div>