<%= render :partial => 'convo_stats' %>

<%= render "user_links" %>

<h6>Friends of <%= @user.login %></h6>
<div class="item">
	<ul id="users_list">
		<%= render :partial => 'user', :collection => @friends %>
	</ul>
  <%= link_to t("ui.back"), users_path %>
</div>