<h2>recently joined users</h2>

<div>
	look for users:
	<%= text_field_with_auto_complete :user, :name, { :size => 45 }, :skip_style => true,
	:after_update_element => 
	"function(element,value) " +
	  "{ window.location=('/complete_user_name?id='+element.value);}"
	-%>
</div>

<%= will_paginate @users %>
<table>
<% for user in @users %>
  <tr>
    <td>
		<%= link_to image_tag(user.gravatar_url, :border => 0, :wigth => 40, :height => 40, :class => "avatar"), conversation_messages_path(user.personal_conversation) %>		
		<span class="username"><%=link_to h(user.login), user_path(user) %></span>
	</td>
  </tr>
<% end %>
</table>
<%= will_paginate @users %>