<% content_for :header do %>
	<%= tag(:link, :rel => "alternate",
	:type => "application/atom+xml",
	:href => users_url(:format => :atom)) %>
<% end %>

<div class="bbox round">
  <h1><%= link_to image_tag("/images/icons/16px-feed-icon.png"), users_url(:format => :atom), :type => "application/atom+xml", :rel => "alternate" %> <%= t("users.recently_joined_users") %></h1>
    <% form_tag usersearch_path, :method => :get do %>
  	  <div>	
	      <%= t("users.look_for_users") %>: <%= text_field_tag :user_q %>
	      <%= submit_tag t("ui.search"), :name => nil  %>
  	  </div>
    <% end %>
</div>
<div class="bbox-pointer">&nbsp;</div>

<div class="item">
  <%= will_paginate @users %>
  <ul id="users_list">
	    <%= render :partial => 'user', :collection => @users %>
  </ul>
  <div class="clear"></div>
  <%= will_paginate @users %>
</div>
