<% content_for :header do %>
	<%= tag(:link, :rel => "alternate",
	:type => "application/atom+xml",
	:href => users_url(:format => :atom)) %>
<% end %>

<div class="balloon">
  <h1><%= link_to image_tag("/images/icons/16px-feed-icon.png"), users_url(:format => :atom), :type => "application/atom+xml", :rel => "alternate" %> <%= t("users.recently_joined_users") %></h1>
  <div>
  	<%= t("users.look_for_users") %>:
  	<%= text_field_with_auto_complete :user, :name, { :size => 45 }, :skip_style => true,
  	:after_update_element => 
  	"function(element,value) " +
  	  "{ window.location=('/complete_user_name?id='+element.value);}"
  	-%>
  </div>
</div>
<div class="arrow">&nbsp;</div>

<div class="item">
  <%= will_paginate @users %>
  <ul id="users_list">
	    <%= render :partial => 'user', :collection => @users %>
  </ul>
  <div class="clear"></div>
  <%= will_paginate @users %>
</div>
