<p>
	<%= link_to image_tag(@user.gravatar_url, :border => 0, :wigth => 40, :height => 40, :class => "avatar"), conversation_messages_path(@user.personal_conversation) %>		
	<span class="username"><%=link_to h(@user.login), user_path(@user) %></span>
</p>
<br/>
<br/>
<br/>

<div id="subscriptions_for_user">
	<b><%= t("ui.users_conversations") %>:</b>
	<ul>
		<%= render :partial => 'users/conversation', :collection =>  @user.conversations %> 		
	</ul>
</div>
	


<%= link_to t("ui.back"), users_path %>
