<%= render :partial => 'convo_stats' %>

<%= render "user_links" %>

<!-- <%= render :partial => 'users/user_tags'%> -->

<div class="notice">
  <p>you can chat with me in my <%= link_to "personal convo", conversation_path(@user.personal_conversation) %></p>
  <%= @user.personal_conversation.description %>
</div>


<h6>Convos started by <%= @user.login %></h6>

<div class="item">
	<div id="convos">
	  <%= will_paginate @conversations %>
		<ul class="list">
			<%= render :partial => 'conversations/conversation',
			          :collection => @conversations %>
		</ul>
		<%= will_paginate @conversations %>
	</div>
  <%= link_to t("ui.back"), users_path %>
</div>