<%= render :partial => 'convo_stats' %>

<%= render "user_links" %>

<!-- <%#= render :partial => 'users/user_tags'%> -->

<h6>Convos started by <%= @user.login %></h6>

<div class="item">
	<div id="convos">
    <% if @conversations.blank? %>
      <% if logged_in? && current_user == @user %>
        <div class="notice">
          <h3>Don't know what to do next?</h3>
          <p>Here are some suggestions:</p>
          <ul>
            <li><%= link_to "start a new conversation", new_conversation_path %> and invite someone to participate</li>
            <li><%= link_to "search for a conversation", conversations_path %> and chat with people</li>
            <li><%= link_to "look for an existing user", users_path %></li>
          </ul>
          <p>If you need help, feel free to ask in our <%= link_to "EchoWaves conversation", conversation_path(HOME_CONVERSATION) %></p>
        </div>
      <% end %>	  
		<% else %>
      <%= will_paginate @conversations %>
		  <ul class="list">
		  	<%= render :partial => 'conversations/conversation',
		  	          :collection => @conversations %>
		  </ul>
		  <%= will_paginate @conversations %>
	  <% end %>
	</div>
</div>