<div class="balloon">
  <h1><span class="username"><%=link_to h(@user.login), conversation_messages_path(@user.personal_conversation) %></span></h1>
  <p>
  	<%= link_to image_tag(@user.gravatar_url, :border => 0, :wigth => 40, :height => 40, :class => "avatar"), user_path(@user) %>		
  	
  </p>
</div>
<div class="arrow">&nbsp;</div>


<div class="item">
  <div id="subscriptions_for_user">
  	<b><%= t("users.conversing_in") %>:</b>
  	<ul class="list">
  		<%= render :partial => 'users/conversation', :collection =>  @user.conversations %> 		
  	</ul>
  </div>
  
  <%= link_to t("ui.back"), users_path %>
</div>
  