<div id="dashboard" class="span-10 last box round">

  <div id="session-menu">
    <ul>
			<% if logged_in? %>
			<li class="mbutton round"><%= link_to t("ui.logout"), logout_path %></li>
			<li><%= link_to "@" + h(current_user.login), user_path(current_user) %></li>
			<li><%= link_to "bookmarks", bookmarked_conversations_path, :class => 'bookmarks_link' %></li>
			<%else%>
			<li class="mbutton round"><%= link_to t("ui.login"), new_user_session_path %></li>
			<li class="mbutton round"><%= link_to t("ui.signup"), new_user_path %></li>
			<%end%>
    </ul>
    <div class="clear"></div>
  </div>
  
  <%= yield(:sidebar_top) %>
  
  <% if logged_in? %>
    <h5>DASHBOARD</h5>
    <div class="span-5">
      <%= render :partial => 'users/recently_visited' %>
    </div>
    <div class="span-5 last">
      <%= render :partial => 'users/news' %>
    </div>
	
	
  <% else %>
  
    <div>
      <h5>What is EchoWaves?</h5>
    	<p>Echowaves is a free service that enables comunication through, IM-style conversations. You can converse in real-time or over semi-frequent visits to the site continuing your conversations right where you left off.</p>
    	<div class="big center vspace"><span class="round button"><%= link_to "Join Echowaves", new_user_path %></span></div>
    </div>
    
    
  <% end %>

	<%#google adsense%>
	<%#div class='ads'>
		<script type="text/javascript"><!--
		google_ad_client = "pub-1214584829465510";
		/* 250x250, created 11/5/09 */
		google_ad_slot = "0466287186";
		google_ad_width = 250;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div%>

	
	
</div>



