<div id="footer" class="container">
  <span id="connection_stat_data" class='tip'>&copy;</span>
	<span>
		2009 -
		<a href="mailto:webmaster@echowaves.com">Contact us</a> -
		<%= link_to t('footer.terms_and_conditions'), :controller => "home", :action => "terms"-%> -
		<%= link_to "OAuth", oauth_clients_path %>
		<% if logged_in? && DEV_TEAM.include?( current_user.login ) %>
		  <% rev = "#{ render :partial => 'shared/revision' }" %>
		  <% rev = rev.split.join("/") if rev.match(/commit/) %>
		- <%= link_to "git", "http://github.com/dmitryame/echowaves/#{ rev }", :title => "#{ rev }" %>
		<% end %> -
	  <%= link_to "Toggle sound", "?sound="+(session[:sound] == "on" ? "off" : "on") %><span id="sound-icon"><%= session[:sound]=="on" ? image_tag("/images/icons/sound-on.png", :height => 13) : image_tag("/images/icons/sound-off.png", :height => 13) %></span>
	</span>

	<div id="new_convo_button" class="round">
	  <%= link_to t('conversations.start_new_conversation'), new_conversation_path %>
	</div>
	<div id="multilingual">
    <% form_tag '', :method => :get do %>
      <%= select_tag("locale", options_for_select([["English","en"], ["Español","es-ES"], ["Русский", "ru"], ["Português Br.","pt-BR"], ["Nederlands","nl"]],I18n.locale), { :index => nil, :onchange => 'this.form.submit()'}) %>
    <% end %>
  </div>
	<div class="clear"></div>
</div>

