<div id="header" class="container">
	<div class="span-5">
		<h1><%= link_to image_tag("/images/echowaves.png", :height => 32), root_path %></h1>
	</div>

	<div class="span-19 last">
		<div id="menu">
			<ul>
				
				<li id="new_convo_button" class="round"><%= link_to t('conversations.start_new_conversation'), new_conversation_path %></li>
        
        <li class="search">
				  <form method="get" id="sform" action="/msgsearch" class="search_link">
				    <%= image_submit_tag("/images/icons/magnifier.png")%>
  					<input type="text" id="q" onfocus="if(document.getElementById('q').value == 'search messages') { document.getElementById('q').value = ''; }" value="search messages" name="q" size="15" style="color:#888;"/>
					<div class="clear"></div>
  				</form>
				</li>
				
				
				<li class="users"><%= link_to t('ui.users'), users_path %></li>
				<li class="conversations"><%= link_to t('ui.conversations'), conversations_path %></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	

</div>