<div id="top-nav" class="container">
  <div class="span-24 last">
    <div id="topmenu">
      <ul>
				<% if logged_in? %>
				<li><%= link_to t("ui.logout"), logout_path %></li>
				<li><%= link_to "@" + h(current_user.login) + "'s profile", user_path(current_user) %></li>
				<li><%= link_to "bookmarks", bookmarked_conversations_path, :class => 'bookmarks_link' %></li>
				<%else%>
				<li><%= link_to t("ui.login"), new_user_session_path %></li>
				<li><%= link_to t("ui.signup"), new_user_path %></li>
				<%end%>

      </ul>
    </div>
  </div>
</div>