<div id="main_headline">
  <h1><%= t("home.index.headline1") %></h1>
</div>

<div id="signup_headline">
	<h2>
		<%= link_to t("ui.signup"), new_user_path, :class => "button" -%>
		<%= t("home.index.p2") -%>
	</h2>
	<h2>
		<%= link_to t('conversations.start_new_conversation'), new_conversation_path, :class => 'button' -%>
	</h2>
</div>

<div id="main_description">
 <%= t("home.index.p1") %> <%= link_to t("ui.echowaves_conversation"), conversation_path(HOME_CONVERSATION), :action => "index" -%>.
</div>

<div id="test_convo_description">
 <%= t("home.index.p3") %> <%= link_to t("ui.test_conversation"), conversation_path(TEST_CONVERSATION), :action => "index" -%>.
</div>

<!--div id="home_stats">
	<h2><%= t("ui.total_convos")-%>: <%=@total_convos-%> - <%= t("ui.total_messages")-%>: <%=@total_messages-%> - <%= t("ui.total_users")-%>: <%=@total_users-%></h2>
</div-->

<%= render :partial => 'recent_convos'%>	

<%= render :partial => 'popular_convos'%>	

<%= render :partial => 'recently_joined'%>	

<% if logged_in? %>
	<div id="recently_visited" class = "span-6 last"><div class="padding">
		<%= render :partial => 'users/recently_visited' %>
	</div></div>

	<div id="recentl_news" class = "span-6 last"><div class="padding">
		<%= render :partial => 'users/news' %>
	</div></div>
<%end%>


<div class="clear"></div>
<div class="item center">
  <h2><%= t("home.index.headline2") %></h2>
</div>

<div class="item center"><h3><%= t("home.index.feedback_advice") %></h3></div>
