<div id="main_headline">
  <h1><%= t("home.index.headline1") %></h1>
</div>

<div id="signup_headline">
  <h2><%= link_to t("ui.signup"), new_user_path, :class => "button" -%> <%= t("home.index.p2") %></h2>
</div>

<div id="main_description">
 <%= t("home.index.p1") %> <%= link_to t("ui.echowaves_conversation"), conversation_path(1), :action => "index" -%>.
</div>

<div class="item center">
  <h2><%= t("home.index.headline2") %></h2>
</div>

<div class="item center"><h3><%= t("home.index.feedback_advice") %></h3></div>

<div id="home_stats">
	<h2><%= t("ui.total_convos")-%>: <%=@total_convos-%> - <%= t("ui.total_messages")-%>: <%=@total_messages-%> - <%= t("ui.total_users")-%>: <%=@total_users-%></h2>
</div>

<div id="recent_convos">
	<h3><%= t("ui.recent_convos")-%>:</h3>
	<%= render :partial => 'convo', :collection => @recent_convos %>	
	<br/>
	<%= link_to t("ui.view_all_convos"), conversations_path %>
</div>
<div id="popular_convos">
	<h3><%= t("ui.popular_convos")-%>:</h3>
	<%= render :partial => 'popular_convo', :collection => @popular_convos %>	
	<br/>
	<%= link_to t("ui.view_all_convos"), conversations_path %>
</div>

<div id="recently_joined">
	<h3><%= t("ui.recently_joined")-%>:</h3>
	<%= render :partial => 'user', :collection => @users %>	
	<br/>
	<%= link_to t("ui.view_all_users"), users_path %>
</div>

