<div class="item">
  <h1><%= t("home.index.headline1") %></h1>
  <h3><%= t("home.index.headline2") %></h3>
  
  <p>
   <%= t("home.index.p1") %> <%= link_to t("ui.echowaves_conversation"), conversation_path(1), :action => "index" -%>.
  </p>
  	
  <p>
  <%= link_to t("ui.signup"), new_user_path, :class => "highlight" -%> <%= t("home.index.p2") %>
  </p>
  
  <p class="highlight padding"><%= t("home.index.feedback_advice") %></p>
</div>