<div id="main_headline">
  <h1><%= t("home.index.headline1") %></h1>
</div>

<div id="signup_headline">
  <h2><%= link_to t("ui.signup"), new_user_path, :class => "button" -%> <%= t("home.index.p2") %></h2>
</div>

<div id="main_description">
 <%= t("home.index.p1") %> <%= link_to t("ui.echowaves_conversation"), conversation_path(1), :action => "index" -%>.
</div>

<div id="home_stats">
	<h2><%= t("ui.total_convos")-%>: <%=@total_convos-%> - <%= t("ui.total_messages")-%>: <%=@total_messages-%> - <%= t("ui.total_users")-%>: <%=@total_users-%></h2>
</div>

<%= render :partial => 'recent_convos'%>	

<%= render :partial => 'popular_convos'%>	

<%= render :partial => 'recently_joined'%>	


<div class="clear"></div>
<div class="item center">
  <h2><%= t("home.index.headline2") %></h2>
</div>

<div class="item center"><h3><%= t("home.index.feedback_advice") %></h3></div>
