

<div id="main-headline" class="round bbox">
<h1>Social Group Chat</h1>
<h2>If you like to <em>chat</em>, <em>blog</em>, <em>post pictures and videos</em>, <em>share updates with friends</em> or just <em>socialize,</em> you will enjoy EchoWaves.</h2>
</div>
<div class="bbox-pointer">&nbsp;</div>

<div class="item screencast">
  <h3>See the intro in video</h3>

<p>
<object width="520" height="286" data="http://www.vimeo.com/moogaloop.swf?clip_id=6556980&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1"
    type="application/x-shockwave-flash">
  <param name="allowfullscreen" value="true" />
  <param name="allowscriptaccess" value="always" />
  <param name="movie" value="http://www.vimeo.com/moogaloop.swf?clip_id=6556980&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" />
</object>
</p>



</div>

<div class="item">
  <h2>
   Talk with us in our <%= link_to "EchoWaves conversation", conversation_path(HOME_CONVERSATION) -%>.<br/>If you want to test how the system works, please, use this <%= link_to "Test conversation", conversation_path(TEST_CONVERSATION) -%>.
   
  </h2>
  
</div>





<hr/>
<div class="item mute">
  <h4>Information for developers</h4>
  <p><%= t("home.index.headline2") %></p>
</div>

<div class="item mute"><p><%= t("home.index.feedback_advice") %></p></div>

<% content_for :sidebar_bottom do %>
  <%= render :partial => 'popular_topics' %>
  <%= render :partial => 'recent_convos' %>	
  <%= render :partial => 'popular_convos' %>
  <%= render :partial => 'recently_joined' %>
<% end %>
