<% if @invitations.blank? %>
  <div class="notice">Currently, you don't have any pending invitations.</div>
<% else %>
  <div class="balloon">
    <h2>Pending invitations</h2>
  </div>
  <% @invitations.each do |i| %>

   <div class="invitation" id="invitation_<%= i.id %>">
    
    <h5><%= i.conversation.name %></h5>
    send by @<%= i.requestor.name %>
    <div class="actions">
    <%= link_to_remote "accept", :url => accept_user_invitation_path(current_user, i) %> or
    <%= link_to_remote "delete", :url => user_invitation_path(current_user, i), :method => 'delete' %>
    </div>
    <div class="clear"></div>
  </div> 
  <% end %>
<% end %>