  <%= flash_messages %>
	<div class="box round">
    <div class="bbox round">
      <h1>search users for: "<%= params[:user_q] %>"</h1>
      <div>
        <% form_tag usersearch_path, :method => :get do %>
          <%= t("users.look_for_users") %>: <%= text_field_tag :user_q %>
          <%= submit_tag t("ui.search"), :name => nil  %>
        <% end %>
      </div>
    </div>
    <div class="bbox-pointer">&nbsp;</div>
    
    
    <div class="item">
      <ul id="users_list">
    	    <%= render :partial => 'users/user', :collection => @users %>
      </ul>
      <div class="clear"></div>

      <div class="pagination"><%= will_paginate @users %></div>
    </div>

  </div>
