  <%= flash_messages %>
	<div class="box round">
    <div class="bbox round">
      <h1>Search Users</h1>
      <div>
        <% form_tag usersearch_path, :method => :get do %>
          <%= text_field_tag :q %>
          <%= submit_tag t("ui.search"), :name => nil  %>
        <% end %>
      </div>
    </div>
    <div class="bbox-pointer">&nbsp;</div>
    
    
    <div class="item center">
      <br/>
      <%= image_tag("/images/icons/redarrowup.png") %>
      <h3><%= t("ui.search_advice") %></h3>
    </div>
  </div>

