<%= flash_messages %>
<div class="page">
	<div class="balloon">
		<h1><%= t("ui.search_messages") %></h1>
		<div>
			<% form_tag msgsearch_path, :method => :get do %>
			<%= text_field_tag :q, params[:q] %>
			<%= submit_tag t("ui.search"), :name => nil  %>
			<% end %>
		</div>
	</div>


	<div id='messages'>
		<div class="pagination"><%= will_paginate @messages %></div>
		
		<% @messages.each do |message| %>
		<div class="message" id="<%=dom_id(message)%>">
			<div class="messagelinks quiet small">
				<%if current_user%>
				<%= link_to_remote t("ui.report"), 
				:url => {:controller => 'messages', :action => 'report', :id => message.id}, 
				:confirm => t("ui.reportconfirm"), :method => :get %>
				<%end%>
			</div>
			<div class="avatar"><%= link_to image_tag(message.user.gravatar_url, :border => 0, :wigth => 40, :height => 40, :class => "avatar"), user_path(message.user),
			:class => 'tip', 
			:title =>  t("users.since") + message.user.created_at.to_s(:pretty)  + 
			'<br/>' + pluralize(message.user.conversations.size, 'convo') +
			'<br/>' + pluralize(message.user.messages.size, 'message') +
			'<br/>' + pluralize(message.user.subscriptions.size, 'subscription')
			%></div>
			<div class="messagetext">
				<span class="username"><%=link_to h(message.user.login), conversation_messages_path(message.user.personal_conversation), 
				:class => 'tip', 
				:title => "personal convo for " + message.user.login  %></span>
				<% if message.attachment.original_filename %>
				<%= link_to(image_tag(message.attachment.url(:big)), message.attachment.url, :target => "_blank")%>		 
				<% end %>
				<%= highlight mark_up(message), params[:q].split %>
				<span class="date quiet small"><%= link_to message.created_at.to_s(:pretty_long), conversation_message_path(message.conversation_id, message) %></span>
			</div>
			<div class="clear"></div>
		</div>

		<% end %>

		<div class="pagination"><%= will_paginate @messages %></div>

	</div>
</div>

