<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= controller.action_name %></title>
	<%= stylesheet_link_tag 'default' %>
	<%= javascript_include_tag :defaults %>
</head>
<body>

	<div id="logout">
		<%if logged_in?%>					
		<%= link_to "logout", logout_path %>&nbsp;<%=current_user.login%>
			<% if @user_has_access_to_resource%>
			<font size=-3 style="text-decoration: blink" color="red">admin user</font>
			<%end%>
		<%else%>			
		<%= link_to "login", new_session_path %>
		<font color="red">works only with FireFox and Safari</font>
		<%end%>
		<div>EcHoWaVeS.CoM</div>		
	</div>


	<div id="content">
		<p style="color: red"><%= flash[:error] %></p>
		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield  %>
	</div>
	
	<%= render(:partial => "shared/footer") %> 	
</body>
</html>
