<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= controller.action_name %></title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
 	
  <!-- Framework CSS -->
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheet/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="/stylesheet/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	
	<!-- Import fancy-type plugin for the sample page. -->
	<link rel="stylesheet" href="/stylesheet/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
 	<%= stylesheet_link_tag 'custom' %>
 	<%= javascript_include_tag :defaults %>
 	<%= javascript_include_tag "misc" %>
</head>

<body onLoad="Misc.pageScroll();Misc.focusInput('conversation_name');">

	<%= render(:partial => "shared/header") %>
	
	<div id="menu" class="container">
		<ul>
  		<li><%= link_to 'home', home_path %></li>
  		<li><%= link_to 'users', users_path %></li>
  		<li class="active"><%= link_to 'conversations', conversations_path %></li>
  	</li>
	</div>

	<div id="main_content" class="container">
		<div class="span-16 colborder">
  		<p style="color: red"><%= flash[:error] %></p>
  		<p style="color: green"><%= flash[:notice] %></p>
  		<%= yield  %>
		</div>
    <div class="span-6 last">
			<%= render :partial => 'users/my_conversations' %>
		</div>
		<div id="connection_stat">
  		<div id="connection_stat_data"></div>
  	</div>   
	</div>

	<%= render(:partial => "shared/footer") %>
  

</body>
</html>
