<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title> - <%= h @conversation.name %></title>
	<%= stylesheet_link_tag 'default' %>
	<%= stylesheet_link_tag 'custom' %>
	<%= stylesheet_link_tag 'firebug-lite' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "misc" %>
	<%= javascript_include_tag "windowmanager" %>
	<%= javascript_include_tag "messagemanipulation" %>
	<%= javascript_include_tag "keyboard" %>
	<%= javascript_include_tag "pi" %>
	<!-- = javascript_include_tag "firebug-lite" -->
	<%= orbited_javascript %> 
	<script>
	function stomp_function() {
		 var output = $('stat_data');
		// set up shell.
		// set up stomp client.
		stomp = new STOMPClient();
		stomp.onopen = function() {
			output.insert({"top" : ":Transport openned"});
			// setTimeout("subscribe('CONVERSATION_CHANNEL_<%=@conversation_id%>', {exchange:''})",5000);						
		};
		stomp.onclose = function(code) {
			output.insert({"top" : ":Transport closed (code: " + code + ")"});
			//try to reconnect
			// stomp.connect(document.domain, 61613, 'UNIQUE_ID_PER_CLIENT', '');			
			setTimeout("stomp.connect('<%=STOMP_HOST%>', <%=STOMP_PORT%>, 'UNIQUE_ID_PER_CLIENT', '');", 5000);
			setTimeout("stomp.subscribe('CONVERSATION_CHANNEL_<%=@conversation_id%>', {exchange:''})",10000);
		};
		stomp.onerror = function(error) {
			alert("onerror: " + error);
			output.insert(":onerror: " + error);
		};
		stomp.onerrorframe = function(frame) {
			alert("onerrorframe: " + frame.body);
			output.insert(":onerrorframe: " + frame.body);
		};
		stomp.onconnectedframe = function() {
			output.insert({"top" : ":Connected to chat room"});
		};
		stomp.onmessageframe = function(frame) {
			var message_output = $('messages');
			// :update => 'messages', :position => 'bottom',
			// eval(frame.body);
			if(frame.body.startsWith("<!--message-->") ) {
				message_output.insert({"bottom" : frame.body});
				MessageManipulation.handle_new_messages();
			}	
			if(frame.body.startsWith("<!--user-->")) {
				alert('new user');
			}
			if(frame.body.startsWith("<!--conversation-->")) {
				alert('conversation updated');
			}
			
		};
		stomp.connect('<%=STOMP_HOST%>', <%=STOMP_PORT%>, 'UNIQUE_ID_PER_CLIENT', '');
		setTimeout("stomp.subscribe('CONVERSATION_CHANNEL_<%=@conversation_id%>', {exchange:''})",5000);
		// stomp.subscribe('CONVERSATION_CHANNEL_<%=@conversation_id%>', {exchange:''});
	};

 </script>
	<link rel="shortcut icon" href="/images/favicon.ico" />
</head>
<body onLoad="Misc.pageScroll();MessageManipulation.handle_old_messages();MessageManipulation.handle_new_messages();Misc.focusInput('message_message');stomp_function();">
	<div><%= link_to image_tag("echowaves.gif", :border => 0), home_path %></div>
	<div id="logout">
		<%if logged_in?%>					
		<%= link_to "logout", logout_path %>&nbsp;<%=current_user.login%>
			<% if @user_has_access_to_resource%>
			<font size=-3 style="text-decoration: blink" color="red">admin user</font>
			<%end%>
		<%else%>			
		<%= link_to "login", new_session_path %>
		<%end%>
	</div>


	<div id="content">
		<p style="color: red"><%= flash[:error] %></p>
		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield  %>
	</div>
	
	<div id="stat_data"></div>
		
	<%= render(:partial => "shared/footer") %> 	
</body>
</html>
