<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= controller.action_name %></title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
 	
  <!-- Framework CSS -->
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	
	<!-- Import fancy-type plugin for the sample page. -->
	<link rel="stylesheet" href="/stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
 	<%= stylesheet_link_tag 'custom' %>
 	<%= javascript_include_tag :defaults %>
 	<%= javascript_include_tag "misc" %>
</head>

<body>

	<%= render(:partial => "shared/header") %>
	
	<div id="menu">
	  <div id="menu_padding" class="container">
		  <ul>
  	  	<li><%= link_to t('ui.home'), home_path %></li>
  	  	<li class="active"><%= link_to t('ui.users'), users_path %></li>
  	  	<li><%= link_to t('ui.conversations'), conversations_path %></li>
  	  </ul>
  	  <div id="connection_stat"><div id="connection_stat_data"></div></div>
  	</div>
	</div>


	<div id="main_content" class="container">
		<div class="span-16 colborder">
      <%= flash_messages %>
  		<%= yield  %>
		</div>
    <div class="span-6 last">
			<%= render :partial => 'users/all_my_conversations' %>
		</div>
	</div>

	<%= render(:partial => "shared/footer") %>
  

</body>
</html>